{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>FlyingMarket</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'flyingmarket.css' %}">

</head>

<section id="1" class="page1">
    <h2>새로운 해외쇼핑</h2>
    <h2>Flying Market</h2>
</section>
<section id="2" class="page2">
    <h2>해외쇼핑 Bestseller</h2>
</section>
<section id="3" class="page3">
    <h2>여행자와 소비자가 윈윈하는 쇼핑플랫폼!</h2>
</section>

<body>
{% if user.is_active %}
  <h2> Welcome, {{user.username}} </h2>
  <a href="{% url 'logout' %}">Logout</a>
  {% else %}
<li><a href="{%url 'login' %}">Login</a></li>
{% endif %}
    <nav>
        <ul>
            <li><a href="/flying">Flying</a></li>
            <li><a href="/want">Want</a></li>
            <li><a href="#">WEB</a></li>
            <li><a href="#">DESIGN</a></li>
            <li><a href="#">MAP</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
        <a href="#" id="trigger">MENU</a>
    </nav>

  <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script>
		$(function () {
			var trigger = $('#trigger');
			var menu = $('nav ul');
			$(trigger).on('click', function (e) {
				e.preventDefault();
				menu.slideToggle();
			});
			$(window).resize(function () {
				var w = $(window).width();
				if (w > 320 && menu.is(':hidden')) {
					menu.removeAttr('style');
				}
			});
		});
	</script>
</body>
</html>